/*ljusa färger:
#FAF8F1
#e3ddcb
.
"mörkbeige" på grön backgrund
#afa5a0
*/

@font-face {
    font-family: 'Korinna';
    src: url(../fonts/KorinnaStd-Regular.otf);
}

@font-face {
    font-family: 'Korinna';
    src: url(../fonts/KorinnaStd-Kursiv.otf);
    font-style: italic;
}

@font-face {
    font-family: 'Korinna';
    src: url(../fonts/KorinnaStd-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: 'Korinna';
    src: url(../fonts/KorinnaStd-BoldKursiv.otf);
    font-weight: bold;
    font-style: italic;
}

/*--resets/basic---------------*/

* {
  font-family: 'Korinna';
}

p {
  margin: 0;
  line-height: 1.8em;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1c2b19;
}

main {
  background-color: #FAF8F1;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'Korinna';
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

/*applied where the content should be less than 100%*/
.contentwidth {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
}

.contentmargins{
  width: 85%;
  margin: 40px auto 60px auto;
  overflow: hidden;
}

/*heading used on many pages*/
.page_rubrik {
  margin-bottom: 20px;
}

/*--ornaments-------------*/

.line1_green {
  width: 100%;
  height: 30px;
  background-image: url(../img/1x/ornament-line-1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto 30px auto;
}

.line_beige {
  width: 100%;
  height: 30px;
  background-image: url(../img/1x/line_beige.png);
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: center;
  margin: 50px auto 0 auto;
}

.divider1_green {
  width: 60%;
  height: 30px;
  background-image: url(../img/1x/ornament-divider-1.png);
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 10px 0;
}

/*--header---------------*/

header{
  margin: 0;
  padding: 0;
  z-index: 50;
  position: relative;
  height: 60px;
}

header nav {
    height: inherit;
    background-color: #1c2b19;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.5);
            box-shadow: 0 0 30px rgba(0,0,0,0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.menu {
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  height: inherit;
  padding: 28px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menuleft{
  float:none;
  display: none;
  list-style-type: none;
  background-color: #222;
  margin-top: 32px;
  -webkit-box-shadow: 0px 30px 30px rgba(0,0,0,0.5);
          box-shadow: 0px 30px 30px rgba(0,0,0,0.5);
}

.menuleft li{
  padding: 0px;
}

.menuleft .sub-menu{
  list-style-type: none;
  display: none;
}

.menuleft li li {
    margin-left: 25px;
}

.menu li a{
  text-decoration: none;
  color: #FAF8F1;
  padding: 15px 25px;
  text-transform: uppercase;
  font-family: 'Korinna';
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.3px;
  padding: 20px 10px 10px 20px;
  display: block;
}

.rightmenu {
  float: none;
}

.logofull {
  width: 100px;
  height: 50px;
  background-image: url(../img/logga_herrtorps.png);
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 8px;
  left: 20px;
}

.headerimage img {
  width: 100%;
  height: 100%;
  margin-top: -25px;
  margin-bottom: -5px;
}

.time-wrap {
  overflow: hidden;
}

.extras {
  overflow: hidden;
  position: absolute;
  top: 15px;
  right: 80px;
}

#hamburger {
  font-size: 36px;
  color: #FAF8F1;
  position: absolute;
  top: 4px;
  right: 15px;
}

#hamburger:hover {
cursor: pointer;
}

/*---https://stackoverflow.com/questions/15603950/wordpress-highlight-the-parent-menu-item-when-child-menu-item-page-is-selected 1 dec 2017---*/
li.current_page_item  a, li.current_page_ancestor  a{
  color: #FCDD7A;
}

.menu li.lang-item-sv a:before {
  content: url('../img/sv_SE.png') " ";
}

.menu li.lang-item-en a:before {
  content: url('../img/en_GB.png') " ";
}

.menu li.lang-item-en a img{
  display: none;
}

.menu li.lang-item-sv a img{
  display: none;
}

#clock {
  background-image: url(../img/time.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 28px;
  height: 28px;
  float: left;
  margin-right: 10px;
  margin-top: 1px;
  position: absolute;
  top: 15px;
  right: 65px;
  cursor: pointer;
}

#oppetdropdown {
width: 150px;
background-color: #FAF8F1;
position: absolute;
right: 75px;
top: 50px;
padding: 15px;
-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
display: none;
}

#oppetdropdown p{
  color: #1c2b19;
  font-family: 'Korinna';
  font-size: 13px;
}

#oppetdropdown a {
  color: #1c2b19;
}

/*--header end---------------*/

/*--all content between header image and footer--*/

/*--First section of most/all pages--*/

.lightsection {
  background: radial-gradient(rgba(250,248,241,1) 40%, rgba(227,221,203,1));
  padding: 60px 0;
}

.topheading {
  color: #1c2b19;
  text-align: center;
  margin-bottom: 20px;
}

.introtext {
  margin-bottom: 40px;
  text-align: center;
}

/*--news boxes--*/

.leftbox {
  width: 100%;
  background-color: #1c2b19;
  color: #afa5a0;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/1x/ornament-corner-7.png), url(../img/1x/ornament-corner-8.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 16%;
  background-position: left 25px bottom 25px, right 25px top 25px;
}

.leftbox2 {
  width: 100%;
  background-color: #D0C9B3;
  color: #1c2b19;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(../img/1x/ornament-corner-green-7.png), url(../img/1x/ornament-corner-green-8.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 16%;
  background-position: left 25px bottom 25px, right 25px top 25px;
}

.boxwidth {
  margin: 20px auto;
  width: 85%;
}

.leftbox h2 {
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.leftbox2 h2 {
  font-style: normal;
  font-weight: 400;
}

.leftbox p {
  font-weight: 300;
  margin-bottom: 20px;
}

.leftbox2 p {
  font-weight: 300;
  margin-bottom: 20px;
}

.rightbox, .rightbox2 {
  width: 100%;
  height: 350px;
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}

/*--page: se & göra - omgivning--*/

.omgivning {
  overflow: hidden;
  margin: 80px 0;
}

.omgivningbild {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.omgivningtext{
  width: 100%;
  margin-top: 10px;
}

.omgivning:nth-child(even) .omgivningtext {
  float: left;
}

.omgivning:nth-child(odd) .omgivningtext {
  float: right;
}

.omgivning_img {
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100%;
}

/*--page: boende--*/

.boende {
  overflow: hidden;
  padding-top: 20px;
}

/* --- Page: Konferens --- */

.konferens {
  overflow: hidden;
}

.konferensinfo h1 {
  margin-bottom: 15px;
}

.konferensinfo {
  margin-bottom: 30px;
  text-align: center;
}

.konferensdagpris {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 5px 0 5px 0;
}

.konferensdag {
  width: 100%;
}

.konferensdag p {
  margin-bottom: 20px;
}

.konferenspris {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(188,189,170,1);
          box-shadow: 1px 1px 5px rgba(188,189,170,1);
  border-radius: 5px;
  max-width: 98%;
  line-height: 1.8em;
  margin: 3px;
}

.konferenspris p {
  margin-bottom: 20px;
}

.konferensformular h1 {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.konferensformular .kontaktformular {
  float: none;
  margin: auto;
}

/*--page: Kontakt----*/

.kontaktheading {
  margin-bottom: 50px;
  font-size: 24px;
  text-align: center;
}

.oppettider {
  width: 100%;
  display: inline-block;
  background-color: #e3ddcb;
}

.oppetmargins {
  width: 90%;
  margin: 30px auto 60px auto;
}

.kontakttab {
  overflow: hidden;
  margin: auto;
}

.kontaktTablinks {
    font-size: 20px;
    font-family: 'Korinna';
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 20px 7px;
    margin-right: 10px;
    font-family: 'Korinna';
    width: 100%;
}

.kontaktTablinks:hover{
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px rgba(188,189,170,1);
            box-shadow: 1px 1px 5px rgba(188,189,170,1);
}

.kontaktTablinks.active {
    border-radius: 5px 5px 0 0;
    margin-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.onetable{
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
}

#oppet_disclaim {
  text-align: center;
  color: #81701D;
  font-size: 13px;
  width: 100%;
  padding: 0 7px 7px 7px;
  font-style: italic;
  width: 100%;
  box-sizing: border-box;
}

.oppet_tabell {
  width: 100%;
  margin-bottom: 30px;
  /* -webkit-box-shadow: 1px 1px 5px rgba(188,189,170,1);
          box-shadow: 1px 1px 5px rgba(188,189,170,1); */
  padding-bottom: 20px;
  font-size: 14px;
}

.oppet_tabell th {
  width: 30%;
  text-align: left;
  font-size: 18px;
  padding: 7px;
  font-weight: bold;
  text-transform: lowercase;
  font-variant: small-caps;
}

.oppet_tabell td {
  font-weight: 300;
  padding: 10px 7px;
}


.kontaktuppgifter {
  margin-bottom: 30px;
}

.vagbeskrivning {
  width: 100%;
  overflow: hidden;
}

/*--page: aktiviteter--*/

.akt_grid {
  overflow: hidden;
  width: 240px;
  margin: 0 auto;
}

.akt_grid_item {
  float: left;
  width: 300px;
  height: 300px;
  position: relative;
  padding: 10px;
}

.akt_thumbnail {
  width: inherit;
  height: inherit;
  background-repeat: no-repeat;
  background-size: 100%;
}

.overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: rgba(58,56,55,0.6);
}

.akt_grid_item .overlay {
  opacity: 1;
}

.akt_grid_item h3 {
  text-align: center;
  width: 100%;
  padding-top: calc(50% - 11px);
  color: #fff;
  font-family: 'Korinna';
  font-style: normal;
  letter-spacing: 0.8px;
  display: inline;
  position: absolute;
}

/*--single: aktivitet---*/

.aktivitet {
  margin-top: 60px;
}

/* -- page: historia --*/

.historia {
  margin-top: 40px;
  margin-bottom: 40px;
}

.historie_img {
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
}

/*-- page: kök & café --*/

.matmeny>p {
  margin-bottom: 0px;
}

.pubkvall {
  margin-bottom: 60px;
  overflow: hidden;
}

.pubgalleri {
  width: 100%;
  margin-bottom: 10px;
}

.tab h1 {
  text-align: center;
  margin-bottom: 20px;
}

/*--icons-----*/

.icons {
  overflow: hidden;
  margin-bottom: 20px;
}

.icons li {
  float: left;
  padding-right: 5px;
}

.icons li p {
  float: left;
  margin-right: 20px;
}

.boendeicon {
  height: 32px;
  width: 32px;
  display: inline-block;
  float: left;
  margin-right: 10px;
}


/*--button standards-----------------*/

.outlinebtn_beige, .outlinebtn_green, .outlinebtn_special {
  border-radius: 50px;
  background-color: transparent;
  font-family: 'Korinna';
  font-size: 16px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 16px 25px 10px 25px;
  cursor: pointer;
  margin: 0 auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  outline: none;
}

.outlinebtn_beige {
  border: 1.5px solid #afa5a0;
  color: #afa5a0;
}

.outlinebtn_green {
  border: 1.5px solid #1c2b19;
  color: #1c2b19;
}

.outlinebtn_special {
  border: 1.5px solid #1c2b19;
  color: #1c2b19;
}

.outlinebtn_beige:hover {
  border: 1.5px solid #afa5a0;
  color: #1c2b19;
  background-color: #afa5a0;
}

.outlinebtn_green:hover {
  border: 1.5px solid #1c2b19;
  color: rgba(250,248,241,1);
  background-color: #1c2b19;
}
.outlinebtn_special:hover{
  border: 1.5px solid #1c2b19;
  color: #D0C9B3;
  background-color: #1c2b19;
}

.btncontainer {
  text-align: center;
}

/*--forms----------------*/

.wpcf7 {
  width: 100%;
}

.wpcf7 textarea{
  resize: none;
  rows: 5;
}

.wpcf7 label {
  text-transform: lowercase;
  font-variant: small-caps;
}

/*formuläret på Kontakt*/
.kontaktformular input, .kontaktformular textarea {
  -webkit-box-shadow: 1px 1px 5px rgba(227,221,203,1);
          box-shadow: 1px 1px 5px rgba(227,221,203,1);
  margin-bottom: 10px;
  font-size: 16px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.kontaktformular input[type='submit'] {
  padding: 12px 30px 5px 30px;
  text-transform: uppercase;
  font-family: 'Korinna';
  font-size: 14px;
  border-radius: 50px;
  border: 1.5px solid #1c2b19;
  color: #1c2b19;
  background-color: transparent;
  width: auto;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.kontaktformular input[type='submit']:hover {
  background-color: #1c2b19;
  color: #FAF8F1;
}

/*formuläret i footern*/
#footerform input, #footerform textarea {
  background-color: #ede7cb;
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#footerform input[type='submit'] {
  padding: 12px 30px 5px 30px;
  text-transform: uppercase;
  font-family: 'Korinna';
  font-size: 14px;
  border-radius: 50px;
  border: 1.5px solid #ede7cb;
  color: #ede7cb;
  background-color: transparent;
  width: auto;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto;
  display: block;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#footerform input[type='submit']:hover {
  background-color: #ede7cb;
  color: #1c2b19;
}

.wpcf7 input, .wpcf7 textarea {
  border-radius: 5px;
  border: none;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

/*--footer-----------------*/

footer {
  background-color: #1c2b19;
  padding: 15px 10px;
  overflow: hidden;
}

.footercontainer {
  overflow: hidden;
}

.footerobject {
  width: 100%;
  padding: 30px 30px 0px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #afa5a0;
  font-weight: 300;
}

.textwidget a {
  color: #afa5a0;
}

#fb_logo {
  width: 40px;
  height: 40px;
  background-image: url(../img/FB-f-Logo__white_58.png);
  background-size: 100%;
  background-repeat: no-repeat;
  display: block;
  margin-top: 20px;
}

#blackfooter{
  padding: 10px 0;
  background-color: #222;
}

#blackfooter p {
  font-weight: 300;
  font-size: 14px;
  color: #81701D;
  text-align: center;
}

/* --- code taken and modified from https://www.w3schools.com/howto/howto_js_tabs.asp 2 dec 2017 --- */

/* Style the tab */
div.tab {
    overflow: hidden;
    margin: auto;
}

/* Style the buttons inside the tab */
.tablinks {
    font-size: 15px;
    font-family: 'Korinna';
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    margin: auto;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
    padding: 10px 16px;
}

/* Create an active/current tablink class */
.tablinks.active {
    border-top: 2px #FCDD7A solid;
    border-bottom: 2px #FCDD7A solid;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    padding-left: 0px;
    border-top: none;
    overflow: hidden;
}

.tabbild {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}

.tabtext {
  width: 100%;
}

.tab_img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 10px;
}

/*----------------------------------*/

.current-menu-parent .sub-menu {
  display:block;
}

li.current-menu-parent>a{
  color:#FCDD7A;
}

.single-paragraf {
  margin-bottom: 20px;
}

.aktivitet-box {
  max-width: 100%;
  margin-bottom: 40px;
}

.price-box {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(188,189,170,1);
          box-shadow: 1px 1px 5px rgba(188,189,170,1);
  border-radius:5px;
  max-width: 98%;/*Why 98%? To make the box-shadow visible*/
  line-height: 1.8em;
  margin: 0 3px 40px 2px;
}

/*=====================================540PX========================================*/

@media (min-width: 540px) {
  .akt_grid{
    width: 480px;
    margin: 0 auto;
  }

  .historie_img {
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 30px;
  }

}
/*=====================================640PX========================================*/

@media (min-width: 640px) {

/*Basics*/

    .contentwidth {
      max-width: 640px;
    }

    .contentmargins {
      max-width: 640px;
      margin: 40px auto 80px auto;
    }

    p {
      font-size: 16px;
    }

    .topheading {
      font-size: 28px;
    }

    .page_rubrik {
      font-size: 28px;
      margin-bottom: 20px;
    }

/*--ornaments-------------*/

.line1_green {
  width: 465px;
  height: 25px;
  background-size: 100%;
  margin: 0 auto 40px auto;
}

/*--header---------------*/

  .logofull {
    width: 160px;
    top: 13px;
    left: calc(50% - 80px);
    background-image: url(../img/logga_herrtorps_oval.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    height: 120px;
  }

  .logoslim {
    top: 8px;
    left: calc(50% - 50px);
    background-image: url(../img/logga_herrtorps.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100px;
    height: 50px;
  }

  .menu {
    list-style-type: none;
    margin: 0 auto;
    width: 100%;
    height: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .menuleft li {
    padding: 0px;
  }

  .headerimage img {
    margin-top: -50px;
  }


/*--header end---------------*/

/*news boxes*/

.boxsection {
  overflow: hidden;
  height: 425px;
}

.leftbox {
  height: 425px;
  float: left;
  width: 50%;
  padding: 30px;
  background-size: 18%;
  background-position: left 15px bottom 15px, right 15px top 15px;
}

.leftbox p {
  margin-bottom: 20px;
}

.leftbox2 {
  height: 425px;
  float: right;
  width: 50%;
  padding: 30px;
  background-size: 18%;
  background-position: left 15px bottom 15px, right 15px top 15px;
}

.leftbox2 p {
  margin-bottom: 20px;
}


.boxwidth {
  width: 90%;
  margin: 25px auto;
}

.rightbox, .rightbox2 {
  float: left;
  width: 50%;
  height: 425px;
  background-size: 180%;
}

/*-- page:single.php --*/

.single-paragraf {
  margin-bottom: 40px;
}
.aktivitet-box {
  float:left;
  max-width: 58%;
}

.price-box {
  float:left;
  max-width: 30%;
  margin: 49px 5px 5px 15px ;
  max-width: 30%;
}

/*Kontakt---*/

.oppetmargins {
  max-width: 640px;
}


.kontaktTablinks {
  padding: 20px;
}

.oppet_tabell {
  margin-bottom: 40px;
  font-size: 16px;
}

#oppet_disclaim {
  padding: 0 20px 20px 20px;
}

.oppet_tabell th {
  font-size: 18px;
  padding: 20px;
}

.oppet_tabell td {
  padding: 15px 20px;
}

/*Kök café*/

.pubkvall {
  margin-bottom: 100px;
}

/*---footer-----*/
footer {
  padding: 15px 30px 0px 15px;
}

.footerobject {
  float: left;
  width: 33.33%;
  padding: 30px 30px 10px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #afa5a0;
  font-weight: 300;
}

/* Style the buttons inside the tab */
.tablinks {
    font-size: 15px;
    float: left;
    width: 120px;
    background: inherit;
    padding: 14px 16px;
}

/* Change background color of buttons on hover */
.tablinks:hover {
    /*background-color: #ddd;*/
    border-top: 2px #eee solid;
    border-bottom: 2px #eee solid;
}

div.tab {
  margin-bottom: 20px;
}

.tab h1 {
  text-align: left;
}

.tabbild {
  width: 60%;
  float: left;
}

.tabtext {
  width: 40%;
  float: left;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tab_img {
  height: 300px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.omgivningbild {
  width: 60%;
}

.omgivning_img {
  height: 300px;
}

.omgivning:nth-child(even) .omgivningbild {
  float: left;
  padding-right: 30px;
}

.omgivning:nth-child(odd) .omgivningbild {
  float: right;
  padding-left: 30px;
}

.omgivningtext{
  width: 40%;
  margin-top: 0px;
}

}

/*=====================================750PX========================================*/

@media (min-width: 750px) {

.boxwidth {
  margin: 50px auto;
}

.leftbox {
  background-size: 18%;
}

.leftbox2 {
  background-size: 18%;
}

.historie_img {
  height: 400px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
}

}

/*=====================================960PX========================================*/

@media (min-width: 960px) {

/*Basics*/

  .contentwidth {
    max-width: 960px;
  }

  .contentmargins{
    max-width: 960px;
    margin: 60px auto 100px auto;
  }


/*--header---------------*/
  header {
    height: 75px;
  }

  header{
  transition: all 0.1s;
  -moz-transition: all 0.1s; /* Firefox 4 */
  -webkit-transition: all 0.1s; /* Safari and Chrome */
  -o-transition: all 0.1s; /* Opera */
  }

  .menu {
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
  }

  .logofull {
    width: 220px;
    height: 123px;
    top: 10px;
    left: calc(50% - 100px);
  }

  .logoslim {
    width: 124px;
    height: 60px;
    top: 10px;
    left: calc(50% - 62px);
  }

  .menu {
    padding: 28px 0;
    max-width: 900px;
    width: 78%;
  }

  .sub-menu {
    z-index: 1;
  }

  .menuleft {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #1c2b19;
    margin: 0 auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
  }

  .menu li:nth-child(3) {
    padding-right: 25%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }

  .menu li:nth-child(4) {
  }

  .menuleft li {
    padding: 0px;
    position: relative;
    padding-bottom: 20px;
  }

  .menuleft li:hover{
    background-color: #1c2b19;
  }

  .menu li:nth-child(7){
    position: absolute;
    top: 22px;
    width: 36px;
    right: 60px;
  }

  .menu li:nth-child(7) a {
    padding: 0;
  }

  .rightmenu {
    display: block;
  }

  .leftmenu {
    display: block;
  }

  .menuleft li li {
    margin-left: 0px;
  }

  .menu li a{
    font-size: 12px;
    font-family: 'Korinna';
    font-size: 14px;
    padding: 0;
    padding-top: 4px;
    display: block;
  }

  .menu li:hover .sub-menu{
    display: block;
    margin-top: 15px;
  }

  .sub-menu{
    display: none;
    position: absolute;
    left: 0;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }

  .sub-menu li{
    background-color: #FAF8F1;
    color: #1c2b19;
    display: block;
    width: 110px;
    padding: 15px;
    padding-top: 21px;
  }

  .sub-menu li:hover {
    background-color: #e3ddcb;
  }

  .sub-menu li a{
    color: #1c2b19;
    padding: 10px;
    display: table-row-group;
  }

  .sub-menu li + li {
    clear:left;
  }

  .headerimage img {
    margin-top: -100px;
  }

  .extras {
    top: 20px;
    right: 20px;
  }

  #hamburger {
    display: none;
  }

  .current-menu-parent .sub-menu {
    display:none;
  }

  #clock {
    top: 20px;
    right: 20px;
  }

  #oppetdropdown {
    top: 64px;
    right: 32px;
  }


/*--header end---------------*/

/*news boxes*/

.boxsection {
  height: 375px;
}

.leftbox {
  padding: 40px;
  height: 375px;
  background-position: left 25px bottom 25px, right 25px top 25px;
}

.leftbox p {
  margin-bottom: 25px;
  letter-spacing: 0.2px;
}

.leftbox2 {
  padding: 40px;
  height: 375px;
  background-position: left 25px bottom 25px, right 25px top 25px;
}

.leftbox2 p {
  margin-bottom: 25px;
}

.boxwidth {
  width: 75%;
  margin: 20px auto;
}

.rightbox, .rightbox2 {
  background-size: 110%;
  height: 375px;
}

/* --- Page: Konferens --- */

.konferens {
  overflow: hidden;
}

.konferensinfo h1 {
  margin-bottom: 15px;
}

.konferensinfo {
  margin-bottom: 30px;
  text-align: center;
}

.konferensdagpris {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 40px;
}

.konferensdag {
  float: left;
  width: 60%;
}

.konferensdag p {
  margin-bottom: 20px;
}

.konferenspris {
  float: right;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 1px 1px 5px rgba(188,189,170,1);
          box-shadow: 1px 1px 5px rgba(188,189,170,1);
  border-radius: 5px;
  max-width: 98%;
  line-height: 1.8em;
}

.konferenspris p {
  margin-bottom: 20px;
}

.konferensformular h1 {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.konferensformular .kontaktformular {
  float: none;
  margin: auto;
}

/*--Page: Kontakt----*/

.oppetmargins {
  max-width: 960px;
}

hr {
  width: 50%;
  margin: 15px 0 20px 0;
}

.oppet_tabell {

}

.onetable{
  width: 75%;
  background-color: #fff;
  margin-bottom: 20px;
}

.oppet_tabell th {
  width: 30%;
  text-align: left;
  font-size: 18px;
  padding-bottom: 20px;
}

.oppet_tabell td {
  font-weight: 300;
}

.kontaktyta {
  overflow: hidden;
}

.kontaktformular {
  float: left;
  width: 50%;
}

.kontaktuppgifter {
  float: left;
  width: 50%;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.vagbeskrivningleft {
  float: left;
  width: 40%;
  float: left;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.huge_it_google_map_container {
  width: 60%;
  float: left;
}

/*-- page:aktivitet --*/

.akt_grid_item .overlay {
  opacity: 0;
}

.akt_grid{
  width: 720px;
  margin: 0 auto;
}

.akt_grid_item:hover .overlay {
  opacity: 1;
}

.akt_grid_item h3 {
  display: none;
}

.akt_grid_item:hover h3 {
  text-align: center;
  width: 100%;
  padding-top: calc(50% - 11px);
  color: #fff;
  font-family: 'Korinna';
  font-style: normal;
  letter-spacing: 0.8px;
  display: inline;
  position: absolute;
}

/*-- page:single.php --*/
.aktivitet-box {
  max-width: 60%;
}

.price-box {
  max-width: 30%;
}

.historie_img {
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-bottom: 30px;
}

/* PUB */

.pubkvall {
  overflow: hidden;
}

.pubgalleri {
  width: 60%;
  float: left;
}

.pubtext {
  float: left;
  width: 40%;
  padding-left: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

}

/*=====================================1200PX========================================*/

@media (min-width: 1200px) {

/*menu*/

.menu {
  width: 67%;
}

/*news boxes*/

.boxwidth {
  width: 60%;
}

.akt_grid{
  width: 960px;
  margin: 0 auto;
}

}
